@using MongoDB.Bson
@using RestaurantOrderingSystem.Models
@using RestaurantOrderingSystem.Services
@inject MenuListService MenuLisSvc

<div id="productModal" class="modal fade productModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">@prodFromMenu?.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <img loading="lazy" src="@prodFromMenu?.ImageUrl" class="img-thumbnail" alt="@prodFromMenu?.Name">
                <p class="mt-4">@prodFromMenu?.Description</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add to Cart</button>
            </div>

        </div>
    </div>
</div>  

@code{
    [Parameter] public string prodId {get; set;} = string.Empty;

    private Product? prodFromMenu;
    
    protected override async Task OnParametersSetAsync()
    {
        if(!string.IsNullOrEmpty(prodId))
        {
            prodFromMenu = await MenuLisSvc.GetProductByIdAsync(ObjectId.Parse(prodId));
        }
    }
}