@using RestaurantOrderingSystem.Models
@using RestaurantOrderingSystem.Services
@inject MenuListService MenuListSvc

<div>

    <h1>Testing</h1>

    @if (products == null)
    {
        <p>Loading...</p>
    } 
    else
    {
        <div class="row">
            @foreach (var p in products)
            {   
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100 shadow hover-scale">

                        <div class="ratio ratio-1x1">
                            <img src="@p.ImageUrl" class="card-img-top object-fit-cover" alt="@p.Name">
                        </div>

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center">@p.Name</h5>

                            <div class="mt-auto">
                                <div class="row p-2 gap-2">
                                    <a href="#" class="btn btn-primary col">Description</a>
                                    <a href="#" class="btn btn-primary col">Add to Cart</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>
    }

</div>

<style>

    .hover-scale{
        transition: all 0.3s ease;
    }

    .hover-scale:hover{
        transform: scale(1.05) translateY(-5px);
    }

</style>



@code{

    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await MenuListSvc.GetProductsAsync();
    }
}
