@page "/addProduct"

<div>

    <form action="">

        <div class="form-floating mb-3">
            <input type="text" id="prodName" class="form-control" placeholder="">
            <label for="floatingInput">Product Name</label>
        </div>

        <div class="form-floating">
            <textarea name="" id="prodDescription" class="form-control" placeholder=""></textarea>
            <label for="floatingTextarea">Add a product Description</label>
        </div>

    </form>

</div>